<app-navbar></app-navbar>

<h3>Degrees Verified</h3>


<table id="data">
    <tr>
        <th>CNIC</th>
        <th>Email</th>
        <th>Department</th>
        <th>Status</th>
    </tr>

    <tr *ngFor=" let user of userData ">
        <td>
            <a href="DocumentViewer/{{user.cnic}}">{{ user.cnic }}</a>
        </td>
        <td>{{ user.email }}</td>
        <td>{{ user.department }}</td>
        <td>
            <a style="color: yellowgreen;  font-weight: bold;" href="DocumentViewer/{{user.cnic}}">Verified</a>

        </td>
    </tr>
</table>