<app-navbar></app-navbar>

<h3>Degrees Verified</h3>


<table id="data">
    <tr>
        <th>CNIC</th>
        <th>Email</th>
        <th>Department</th>
        <th>Status</th>
    </tr>

    <tr *ngFor=" let user of userData ">
        <td>{{ user.cnic }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.department }}</td>
        <td *ngIf="user.status" style="color: wheat;  font-weight: bold; background-color: yellowgreen;">
            Verified</td>
    </tr>
</table>