<div class="container">
  <h2>Upload Bachelor Information of Student</h2>
  <h3>Student Infromation</h3>
    <div class="row">
      <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-6">
              <label>Name:</label>
           </div>
           <div class="col-sm-6">
             <label>--</label>
          </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Father Name:</label>
           </div>
           <div class="col-sm-6">
             <label>--</label>
          </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Department</label>
           </div>
           <div class="col-sm-6">
             <label>--</label>
          </div>
          </div>
      </div>
       <div class="col-sm-5">
          <img src="" alt="">
       </div>
    </div>
</div>
