.container {
    padding: 20px;
}

.col-sm-5 img {
    height: 200px;
    width: 200px;
    margin: 25px;
}

button {
    background-color: transparent;
    border: none;
}

td {
    text-align: center;
    font-size: 25px;
}

h3 {
    text-align: center;
    background-color: #8bc240;
    color: #ffffff;
    padding: 5px;
}

h3 {
    text-align: center;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

label {
    font-weight: bold;
    color: #8bc240;
}

#data {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}

#data td,
#data th {
    border: 1px solid #ddd;
    padding: 8px;
}

#data tr:nth-child(even) {
    background-color: #f2f2f2;
}

#data tr:hover {
    background-color: #ddd;
}

#data button:hover {
    color: rgb(250, 16, 16);
}

#data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}