<app-navbaruniversity></app-navbaruniversity>

<h3>University Pannel</h3>


<table id="data">

    <tr>

        <th>New Students:</th>
        <td><button (click)="newStudents()">Click to View</button></td>
    </tr>

    <tr>

        <th> Updated Students :</th>
        <td><button (click)="updatedStudents()">Click to View</button></td>
    </tr>

    <tr>

        <th>In-process Students :</th>
        <td><button (click)="inProcessStudents()">Click to View</button></td>
    </tr>

    <tr>

        <th>HEC Verified Students :</th>
        <td><button (click)="verifiedStudents()">Click to View</button></td>
    </tr>

    <tr>
        <th>All Students:</th>
        <td><button (click)="allStudents()">Click to View</button></td>
    </tr>
</table>