<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
       <div class="row">
         <div class="col-sm-3">
          Degrees to Verify :
         </div>
         <div class="col-sm-3">
          Pending to Verifiy:
        </div>
        <div class="col-sm-3">
          Degrees Verified :
        </div>
        <div class="col-sm-3">
          Degrees Rejected :
        </div>
       </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-3">
         <button (click)="Inprogress()">Click to view In Process</button>
        </div>
        <div class="col-sm-3">
          <button (click)="Inpending()">Click to view Pending</button>
        </div>
       <div class="col-sm-3">
        <button (click)="Verified()">Click to view Verified</button>
      </div>
       <div class="col-sm-3">
        <button (click)="Rejected()">Click to view Rejected</button>
      </div>
      </div>
    </div>
  </div>
</div>
