<app-navbar></app-navbar>

<h3>HEC Pannel</h3>

<table id="data">
    <tr>
        <th>Degrees to Verify :</th>
        <td><button (click)="Inprogress()">In-Process Applications</button></td>
    </tr>

    <tr>

        <th>Pending to Verifiy:</th>
        <td><button (click)="Inpending()">Pending Applications</button></td>
    </tr>
    <tr>

        <th> Degrees Verified :</th>
        <td><button (click)="Verified()">Verified Applications</button></td>
    </tr>
    <tr>

        <th>Degrees Rejected :</th>
        <td><button (click)="Rejected()">Rejected Applications</button></td>
    </tr>
</table>