body {
  font-family: "Lato", sans-serif;
}

.main-head{
  height: 150px;
  background: #FFF;
 
}

.sidenav {
  height: 100%;
  background-color: #8bc240;
  overflow-x: hidden;
  padding-top: 20px;
}

.main {
  padding: 0px 10px;
}

@media screen and (max-height: 500px) {
  .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 500px) {
  .login-form{
      margin-top: 10%;
  }

  .register-form{
      margin-top: 10%;
  }
}

@media screen and (min-width: 768px){
  .main{
      margin-left: 50%; 
  }

  .sidenav{
      width: 50%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
  }

  .login-form{
      margin-top: 80%;
  }

  .register-form{
      margin-top: 20%;
  }
}

.login-main-text{
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2{
  font-weight: 300;
}

.btn-black{
  background-color: #000 !important;
  color: #fff;
}
button
{
  float:right;
  background-color:#8bc240;
  border:1px solid #8bc240;
  margin:10px;
}
button:hover
{
  background-color:#8bc240;
  border:1px solid #8bc240;
}
/*Heading Setting*/
h1
{
  font-family:verdana;
  font-size:55px;
  text-align:center;
}
h2
{
  text-align:center;
}
form
{
  margin-left: 20px;
}
h4
{
  text-align: center;
}
.login-main-text img
{
  width:200px;
  height:200px;
}