<div class="container">
  <h3>Upload Document Information</h3>
  <div class="row">
    <div class="col-sm-6">
      <form>
        <div class="form-group">
           <label>CNIC Front</label>
           <input type="file" class="form-control" placeholder="Enter your name">
        </div>
        <div class="form-group">
           <label>Matric DMC Front</label>
           <input type="file" class="form-control" placeholder="Enter your father name">
        </div>
        <div class="form-group">
          <label>FSC DMC Front</label>
          <input type="file" class="form-control" placeholder="Enter your department">
       </div>
     </form>
    </div>
    <div class="col-sm-6">
      <form>
        <div class="form-group">
           <label>CNIC Back</label>
           <input type="file" class="form-control" placeholder="Enter your name">
        </div>
        <div class="form-group">
           <label>Matric DMC Back</label>
           <input type="file" class="form-control" placeholder="Enter your father name">
        </div>
        <div class="form-group">
          <label>FSC DMC Back</label>
          <input type="file" class="form-control" placeholder="Enter your department">
       </div>
     </form>
    </div>
  </div>
  <button type="submit" class="btn btn-success">Save</button>
</div>