<h1>Angular Datatables Step by Step Example - ItSolutionStuff.com</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Body</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>

    
    <tr *ngFor="let data of userData">
      <div *ngIf="data.status != true">
        <td><a href=""> {{ data.cnic }}</a></td>
        <td>{{ data.email }}</td>
        <td>{{ data.contact }}</td>
        <td>{{data.status}}</td>
      </div>
    </tr>


  </tbody>
</table>