<div class="container">
  <h3>Insert Subjects with Grades or Upload Grades sheet:
  </h3>
  <div class="row">
    <div class="col-sm-3">
      <form>
        <div class="form-group">
           <label>Subject </label>
        </div>
         </form>
    </div>
    <div class="col-sm-3">
      <form>
        <div class="form-group">
           <input type="text" class="form-control" placeholder="Enter your name">
        </div>
     </form>
    </div>
    <div class="col-sm-3">
      <form>
        <div class="form-group">
           <label>Grade</label>
        </div>
     </form>
    </div>
    <div class="col-sm-3">
      <form>
        <div class="form-group">
           <input type="text" class="form-control" placeholder="Enter your name">
        </div>
     </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-4">
      <label>Upload Transcript:</label>
    </div>
    <div class="col-sm-4">
      <input type="file" class="form-control" placeholder="Enter your name">
    </div>
    <div class="col-sm-4">
    </div>
  </div>
  <h4>Request to Verify :
  </h4>
  <label>I understand the terms and proceed to Verify</label>
  <div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-3">
  </div>
  <div class="col-sm-3">
    <label>I confirm :</label>
  </div>
  <div class="col-sm-3">
    <input type="checkbox">
  </div>
   </div>
   <button type="submit" class="btn btn-success">Save</button>

</div>
