<app-navbar></app-navbar>

<h3 style="margin-top: 20px; margin-left: 10%;margin-right: 10%;">Degrees in Process</h3>




<table id="data">
    <tr>
        <th>CNIC</th>
        <th>Email</th>
        <th>Department</th>
        <th>Status</th>
    </tr>

    <tr *ngFor=" let user of userData ">

        <!-- <div *ngIf="user.status != true && user.to_verify==true"> -->
        <td><a href="DegreeInProcess/{{user.cnic}}"> {{ user.cnic }}</a></td>

        <td>{{ user.email }}</td>
        <td>{{ user.department }}</td>
        <td>
            <a style="font-weight: bold; color: tomato;" href="DegreeInProcess/{{user.cnic}}">  In-Process</a>
        </td>
        <!-- </div> -->
    </tr>
</table>